extends base/_layout
block head
    title Готовка
block page
    header.header.header--cooking
        .star.header__star.header__star-1
            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
        .star.header__star.header__star-2
            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
        .header__inner.container
            .header__design
                picture
                    source(srcset="images/header/header-cooking.webp" type="image/webp")
                    img(src="images/header/header-cooking.png" alt="картинка" width="531" height="272")
            a.header__close(href="#")
                img(src="images/icons/close.svg", alt="закрыть")
            p.header__date.title 20 декабря
            blockquote.header__blockquote
                p.header__blockquote-cite.
                    «Простота – высшая ступень искусства»
                p.header__blockquote-author Брюс Ли

    main.main.main--visible
        section.cooking
            .star.cooking__star-1
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.cooking__star-2
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.cooking__star-3
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.cooking__star-4
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.cooking__star-5
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.cooking__star-6
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.cooking__star-7
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .cooking__inner.container
                .cooking__top
                    .cooking__video
                    .cooking__info
                        h1.cooking__title.title.title--small Сервировка стола в стиле хюгге: минимализм и натуральные материалы
                        p.cooking__text.text.text--small.
                            Минимализм и простота – часть хюгге.  Как создать атмосферу уюта и праздника в холодное время года, когда ночи всё длиннее, температура за окном всё ниже и так мало солнца? Стиль хюгге предполагает пастельные, мягкие, светлые оттенки и цвета живой природы, какой мы её видим в зимнее время года.
        
                section.cooking__box
                    h2.cooking__heading.title.title--small Советы
                    .cooking__advice
                        .star.cooking__star-8
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.cooking__star-9
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        ol.cooking__advice-list.text.text--small
                            li.cooking__advice-item.
                                Для декора выбирайте цвет свежего снега, еловой коры, душистой тёмно-зелёной хвои, золотистого дерева, изысканный бледно-голубой – цвет тени на снегу.
                            li.cooking__advice-item.
                                В приоритете все природные материалы, которые можно откопать из-под снега.
                            li.cooking__advice-item.
                                В преддверии Нового года и Рождества украсьте комнаты хвойными ветвями, еловыми и сосновыми шишками (их можно раскрасить, например, вместе с ребёнком). Яркие и сочные цвета можно использовать в декоре помещения точечно, только чтобы расставить акценты.
                            li.cooking__advice-item.
                                Сушёные ягоды рябины, калины подчеркнут натуральную цветовую гамму и сделают её более торжественной.
                        .cooking__advice-images.swiper-container
                            .cooking__advice-images__wrapper.swiper-wrapper
                                .cooking__advice-images__item.swiper-slide
                                    .cooking__advice-images__img
                                        picture
                                            source(srcset="images/cooking/advice-1-mob.webp" media="(max-width: 767px)" type="image/webp")
                                            source(srcset="images/cooking/advice-1-mob.png" media="(max-width: 767px)" type="image/png")
                                            source(srcset="images/cooking/advice-1.webp" type="image/webp")
                                            img(src="images/cooking/advice-1.jpg" alt="картинка" width="305" height="192")
                                    .cooking__advice-images__bottom
                                        button.cooking__advice-images__zoom
                                            img(src="images/icons/zoom.svg", alt="увеличить")
                                .cooking__advice-images__item.swiper-slide
                                    .cooking__advice-images__img
                                        picture
                                            source(srcset="images/cooking/advice-2-mob.webp" media="(max-width: 767px)" type="image/webp")
                                            source(srcset="images/cooking/advice-2-mob.png" media="(max-width: 767px)" type="image/png")
                                            source(srcset="images/cooking/advice-2.webp" type="image/webp")
                                            img(src="images/cooking/advice-2.jpg" alt="картинка" width="305" height="192")
                                    .cooking__advice-images__bottom
                                        button.cooking__advice-images__zoom
                                            img(src="images/icons/zoom.svg", alt="увеличить")
                                .cooking__advice-images__item.swiper-slide
                                    .cooking__advice-images__img
                                        picture
                                            source(srcset="images/cooking/advice-3-mob.webp" media="(max-width: 767px)" type="image/webp")
                                            source(srcset="images/cooking/advice-3-mob.png" media="(max-width: 767px)" type="image/png")
                                            source(srcset="images/cooking/advice-3.webp" type="image/webp")
                                            img(src="images/cooking/advice-3.jpg" alt="картинка" width="305" height="192")
                                    .cooking__advice-images__bottom
                                        button.cooking__advice-images__zoom
                                            img(src="images/icons/zoom.svg", alt="увеличить")
                                .cooking__advice-images__item.swiper-slide
                                    .cooking__advice-images__img
                                        picture
                                            source(srcset="images/cooking/advice-4-mob.webp" media="(max-width: 767px)" type="image/webp")
                                            source(srcset="images/cooking/advice-4-mob.png" media="(max-width: 767px)" type="image/png")
                                            source(srcset="images/cooking/advice-4.webp" type="image/webp")
                                            img(src="images/cooking/advice-4.jpg" alt="картинка" width="305" height="192")
                                    .cooking__advice-images__bottom
                                        button.cooking__advice-images__zoom
                                            img(src="images/icons/zoom.svg", alt="увеличить")

                    p.cooking__wishes.text.
                        Смотрите мастер-класс от профессионального декоратора Дарьи Вавиловой и берите на заметку её идеи и советы о том, как сделать ваш торжественный вечер красивым и изысканным.

        .gifts.gifts--cooking
            .star.gifts__star-1
                img.star__gold(src="images/stars/star-gold.svg", alt="звездочка" width="128" height="147")
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="128" height="147")
            .star.gifts__star-2
                img.star__gold(src="images/stars/star-gold.svg", alt="звездочка" width="42" height="48")
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
            .gifts__img
                picture
                    source(srcset="images/gifts/gifts-mob.webp" media="(max-width: 460px)" type="image/webp")
                    source(srcset="images/gifts/gifts-mob.png" media="(max-width: 460px)" type="image/png")
                    source(srcset="images/gifts/gifts-1280.webp" media="(max-width: 1279px)" type="image/webp")
                    source(srcset="images/gifts/gifts-1280.png" media="(max-width: 1279px)" type="image/png")
                    source(srcset="images/gifts/gifts.webp" type="image/webp")
                    img(src="images/gifts/gifts.png" alt="подарки" width="1920" height="330")

    .send(style="display: none;")
        .send__modal
            .send__inner
                a.send__close(href="#")
                    span
                    span
                .send__header
                    h2.send__title Заполните форму и пришлите свою работу через: Telegram, email.
                    ul.send__soc
                        li.send__soc-item
                            a.send__soc-link(href="#")
                                img(src="images/icons/tg.svg", alt="телеграм" width="60" height="60")
                        li.send__soc-item
                            a.send__soc-link(href="#")
                                img(src="images/icons/gmail.svg", alt="гмэйл" width="60" height="60")
                form.send__form(action="#")
                    .send__content
                        .send__info
                            .send__inputs
                                label.send__label
                                    input.send__field(type="text" placeholder="Имя")
                                label.send__label
                                    input.send__field(type="text" placeholder="Фамилия")
                                label.send__label
                                    input.send__field(type="text" placeholder="Город")
                            textarea.send__textarea.send__textarea-desk(name="textarea", cols="30", rows="10" placeholder="Описание фотографии, рецепта..")
                        .send__manage
                            .send__choose
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Сервировка новогоднего стола в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose" checked)
                                    span.send__choose-radio
                                    span.send__choose-text Новогодний десерт в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Упаковка новогоднего подарка в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Украшение новогодней елки в стиле Хюгге
                            .send__download
                                label.send__download-label
                                    input(type="file")
                                    span.send__download-text Загрузить фото
                                p.send__download-warning.
                                    не более #[br] 50 MB
                            textarea.send__textarea.send__textarea-mob(name="textarea", cols="30", rows="10" placeholder="Описание фотографии, рецепта..")
                    button.send__btn Отправить

    .notice(style="display: none;")
        .notice__inner
            a.close.notice__close(href="#")
                span
                span
            p.notice__text.
                Время и так быстро летит, не стоит торопиться. Совсем скоро это окошко откроется!
            span.notice__no.notice__no-1 Ho
            span.notice__no.notice__no-2 Ho
            span.notice__no.notice__no-3 Ho
            img.notice__santa(src="images/notice/santa.svg", alt="санта" width="386" height="398")
            img.notice__branch-1(src="images/notice/branch-1.svg", alt="ветка" width="316" height="307")
            img.notice__branch-2(src="images/notice/branch-2.svg", alt="ветка" width="244" height="250")
            img.notice__branch-3(src="images/notice/branch-3.svg", alt="ветка" width="170" height="170")
