extends base/_layout
block head
    title Галерея работ
block page
    header.header.header--mood
        .header__inner.container
            a.header__burger(href="#")
                span
                span
                span
            .header__menu
                a.header__mts(href="#")
                    img(src="images/icons/mts.svg", alt="мтс" width="206" height="51")
                nav.header__nav
                    ul.header__list
                        li
                            a.header__link(href="#") Адвент-календарь
                        li
                            a.header__link(href="#") Галерея работ
                        li
                            a.header__link(href="#") ПРО100 к 1
                        li
                            a.header__link.header__link--active(href="#") Подборка настроения
                        li
                            a.header__link(href="#") Трансляция 

    main.main.main--visible
        section.mood
            .mood__inner.container
                .mood__about
                    .star.mood__star-1
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .star.mood__star-2
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .star.mood__star-3
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .star.mood__star-4
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .star.mood__star-5
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .mood__content
                        h1.mood__title.title Подборка #[br] настроения
                        .mood__info
                            h2.mood__info-title Что такое хюгге?
                            p.mood__info-text.
                                Друзья, в этом году мы приглашаем вас окунуться в атмосферу Хюгге, 
                                а лучше – найти своё уникальное Хюгге. Давайте разбираться с этим чудным словом и, что важнее, с его смыслом. #[br]
                                Впервые слово «hygge» появилось в письменном датском языке в начале XIX века. А происходит оно от норвежского «благополучие, благосостояние». Это понятие, означающее особую атмосферу 
                                и ощущения, связанные со счастьем. 

                            p.mood__info-text.
                                Хюгге заключается не столько в вещах, сколько в атмосфере и ощущениях — чувстве дома, близости любимых людей, покое и безмятежности, когда мы чувствуем себя защищёнными и можем расслабиться. #[br]
                                Хюгге — это способность ценить обычные удовольствия жизни и наслаждаться моментом.
                    .mood__img
                        picture
                            source(srcset="images/mood/mood-img-mob.webp" media="(max-width: 1000px)" type="image/webp")
                            source(srcset="images/mood/mood-img-mob.png" media="(max-width: 1000px)" type="image/png")
                            source(srcset="images/mood/mood-img.webp" type="image/webp")
                            img(src="images/mood/mood-img.jpg" alt="картинка" width="694" height="753")
                
                .mood__music
                    .star.mood__star-6
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .star.mood__star-7
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .star.mood__star-8
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .mood__music-item
                        img.mood__music-note(src="images/icons/note.svg", alt="нота" width="65" height="94")
                        img.mood__music-note__small(src="images/icons/note-small.svg", alt="нотка" width="20" height="35")
                        h2.mood__small-title.title.title--small Послушать:
                        .mood__music-content
                            p.mood__music-text Всем хюгге!
                            a.mood__music-link(href="#") https://music.yandex.ru/album/7079119/track/92963229
                        .mood__music-content
                            p.mood__music-text Хюгге-стиль: рецепт счастья
                            a.mood__music-link(href="#") https://music.yandex.ru/album/13207973/track/79991845

                    .mood__music-item
                        h2.mood__small-title.title.title--small Почитать:
                        .mood__music-content
                            p.mood__music-text.
                                Больше про Хюгге вы можете узнать из статьи, видео или подкаста, которые мы для вас подобрали: #[br]
                                Почитать: Всё, что нужно знать о хюгге — искусстве быть счастливым
                            a.mood__music-link(href="#") https://lifehacker.ru/hygge/

                .mood__video
                    .star.mood__star-9
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    .star.mood__star-10
                        img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
                    h2.mood__small-title.title.title--small Посмотреть:
                    .mood__video-list
                        .mood__video-item
                            .mood__video-content
                            h3.mood__video-title.
                                Как стать счастливым? Хюгге: секрет датского счастья.
                        .mood__video-item
                            .mood__video-content
                            h3.mood__video-title.
                                То, что вы НЕ ЗНАЛИ про Hygge. Почему датчане НА САМОМ ДЕЛЕ такие счастливые?
                        .mood__video-item
                            .mood__video-content
                            h3.mood__video-title.
                                Хюгге дома за 10 шагов ☕️ на английском. В настройках можно включить субтитры.
                        .mood__video-item
                            .mood__video-content
                            h3.mood__video-title.
                                Как видеть счастье в мелочах? Секреты философии hygge 🕯
                    
        .gifts
            .star.gifts__star-1
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="128" height="147")
            .star.gifts__star-2
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
            .gifts__img
                picture
                    source(srcset="images/gifts/gifts-mob.webp" media="(max-width: 460px)" type="image/webp")
                    source(srcset="images/gifts/gifts-mob.png" media="(max-width: 460px)" type="image/png")
                    source(srcset="images/gifts/gifts-1280.webp" media="(max-width: 1279px)" type="image/webp")
                    source(srcset="images/gifts/gifts-1280.png" media="(max-width: 1279px)" type="image/png")
                    source(srcset="images/gifts/gifts.webp" type="image/webp")
                    img(src="images/gifts/gifts.png" alt="подарки" width="1920" height="330")

    .send(style="display: none;")
        .send__modal
            .send__inner
                a.send__close(href="#")
                    span
                    span
                .send__header
                    h2.send__title Заполните форму и пришлите свою работу через: Telegram, email.
                    ul.send__soc
                        li.send__soc-item
                            a.send__soc-link(href="#")
                                img(src="images/icons/tg.svg", alt="телеграм" width="60" height="60")
                        li.send__soc-item
                            a.send__soc-link(href="#")
                                img(src="images/icons/gmail.svg", alt="гмэйл" width="60" height="60")
                form.send__form(action="#")
                    .send__content
                        .send__info
                            .send__inputs
                                label.send__label
                                    input.send__field(type="text" placeholder="Имя")
                                label.send__label
                                    input.send__field(type="text" placeholder="Фамилия")
                                label.send__label
                                    input.send__field(type="text" placeholder="Город")
                            textarea.send__textarea.send__textarea-desk(name="textarea", cols="30", rows="10" placeholder="Описание фотографии, рецепта..")
                        .send__manage
                            .send__choose
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Сервировка новогоднего стола в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose" checked)
                                    span.send__choose-radio
                                    span.send__choose-text Новогодний десерт в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Упаковка новогоднего подарка в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Украшение новогодней елки в стиле Хюгге
                            .send__download
                                label.send__download-label
                                    input(type="file")
                                    span.send__download-text Загрузить фото
                                p.send__download-warning.
                                    не более #[br] 50 MB
                            textarea.send__textarea.send__textarea-mob(name="textarea", cols="30", rows="10" placeholder="Описание фотографии, рецепта..")
                    button.send__btn Отправить

    .notice(style="display: none;")
        .notice__inner
            a.close.notice__close(href="#")
                span
                span
            p.notice__text.
                Время и так быстро летит, не стоит торопиться. Совсем скоро это окошко откроется!
            span.notice__no.notice__no-1 Ho
            span.notice__no.notice__no-2 Ho
            span.notice__no.notice__no-3 Ho
            img.notice__santa(src="images/notice/santa.svg", alt="санта" width="386" height="398")
            img.notice__branch-1(src="images/notice/branch-1.svg", alt="ветка" width="316" height="307")
            img.notice__branch-2(src="images/notice/branch-2.svg", alt="ветка" width="244" height="250")
            img.notice__branch-3(src="images/notice/branch-3.svg", alt="ветка" width="170" height="170")
