extends base/_layout
block head
    title Про100 К 1
block page
    header.header.header--pro
        .header__toy
            img.header__toy-img(src="images/header/header-toy.png", alt="картинка" width="511" height="374")
        .header__inner.container
            a.header__burger(href="#")
                span
                span
                span
            .header__menu
                a.header__mts(href="#")
                    img(src="images/icons/mts.svg", alt="мтс" width="206" height="51")
                nav.header__nav
                    ul.header__list
                        li
                            a.header__link(href="#") Адвент-календарь
                        li
                            a.header__link(href="#") Галерея работ
                        li
                            a.header__link.header__link--active(href="#") ПРО100 к 1
                        li
                            a.header__link(href="#") Подборка настроения
                        li
                            a.header__link(href="#") Трансляция 

    main.main.main--visible.main--pro
        section.description
            .description__inner.container
                .star.description__star-1
                    img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                .star.description__star-2
                    img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                .star.description__star-3
                    img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                .star.description__star-4
                    img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                .star.description__star-5
                    img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                .star.description__star-6
                    img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                .star.description__star-7
                    img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                .description__img
                    picture
                        source(srcset="images/survey/pro100-rotate.webp" media="(max-width: 1365px)" type="image/webp")
                        source(srcset="images/survey/pro100-rotate.png" media="(max-width: 1365px)" type="image/png")
                        source(srcset="images/survey/pro100.webp" type="image/webp")
                        img(src="images/survey/pro100.png" alt="pro100" width="282" height="743")
                .description__info
                    h1.description__title.title ПРО100 К 1
                    .description__text
                        p.
                            «ПРО100 к 1» – это игра, в которой участникам нужно дать наиболее популярный ответ. В неё мы сыграем в праздничном прямом эфире. А сейчас нам нужна ваша помощь, чтобы собрать материалы для игры. #[br]
                            Перейдя по ссылке, перед вами откроется 15 вопросов. #[br]
                            Отвечайте на них быстро и не задумываясь. Ответ должен быть только один: одно название предмета, одна песня, один фильм, одно блюдо и т.д. Тут нет правильного или неправильного ответа. Полагайтесь только на свои ассоциации и субъективное мнение. 
                        p.
                            В строчке «Свой вариант» вы можете оставить свой ответ, если его нет в предложенных. Или можете ответить креативно и смешно. Ведущий в прямом эфире зачитает самые удачные и смешные ответы. 

        section.survey
            .survey__inner
                h2.survey__title.title.title--small.container Вопросы и варианты ответов:
                ol.survey__list
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Самая популярная новогодняя песня?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="song")
                                    span.survey__checkbox
                                    span.survey__choose «Новогодняя» – Дискотека Авария
                                label.survey__label
                                    input(type="radio" name="song")
                                    span.survey__checkbox
                                    span.survey__choose «Happy New Year» – ABBA
                                label.survey__label
                                    input(type="radio" name="song")
                                    span.survey__checkbox
                                    span.survey__choose «Let It Snow» – Dean Martin
                                label.survey__label
                                    input(type="radio" name="song")
                                    span.survey__checkbox
                                    span.survey__choose «Новогодние игрушки» – Аркадий Хоралов
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Любимая новогодняя традиция?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="song")
                                    span.survey__checkbox
                                    span.survey__choose Сжигать желание 
                                label.survey__label
                                    input(type="radio" name="song")
                                    span.survey__checkbox
                                    span.survey__choose Наряжать ёлку
                                label.survey__label
                                    input(type="radio" name="song")
                                    span.survey__checkbox
                                    span.survey__choose Готовить всей семьей праздничный стол
                                label.survey__label
                                    input(type="radio" name="song")
                                    span.survey__checkbox
                                    span.survey__choose Открывать в полночь подарки 
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Главный символ Нового года – это …
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="symbol")
                                    span.survey__checkbox
                                    span.survey__choose Ёлка
                                label.survey__label
                                    input(type="radio" name="symbol")
                                    span.survey__checkbox
                                    span.survey__choose Дед Мороз
                                label.survey__label
                                    input(type="radio" name="symbol")
                                    span.survey__checkbox
                                    span.survey__choose Мандарины
                                label.survey__label
                                    input(type="radio" name="symbol")
                                    span.survey__checkbox
                                    span.survey__choose Животное года (Тигр)
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Где вы в детстве находили свои подарки?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="gifts")
                                    span.survey__checkbox
                                    span.survey__choose Под ёлкой
                                label.survey__label
                                    input(type="radio" name="gifts")
                                    span.survey__checkbox
                                    span.survey__choose В мешке с подарками
                                label.survey__label
                                    input(type="radio" name="gifts")
                                    span.survey__checkbox
                                    span.survey__choose В шкафу родителей
                                label.survey__label
                                    input(type="radio" name="gifts")
                                    span.survey__checkbox
                                    span.survey__choose Под подушкой
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Блюдо, без которого не обойдется новогодний стол?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="dish")
                                    span.survey__checkbox
                                    span.survey__choose Оливье
                                label.survey__label
                                    input(type="radio" name="dish")
                                    span.survey__checkbox
                                    span.survey__choose Мандарины
                                label.survey__label
                                    input(type="radio" name="dish")
                                    span.survey__checkbox
                                    span.survey__choose Селедка под шубой
                                label.survey__label
                                    input(type="radio" name="dish")
                                    span.survey__checkbox
                                    span.survey__choose Запеченная курица, индейка или утка
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Лучший мой подарочек – это …
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="best")
                                    span.survey__checkbox
                                    span.survey__choose Ты
                                label.survey__label
                                    input(type="radio" name="best")
                                    span.survey__checkbox
                                    span.survey__choose Деньги
                                label.survey__label
                                    input(type="radio" name="best")
                                    span.survey__checkbox
                                    span.survey__choose Путевка на отдых
                                label.survey__label
                                    input(type="radio" name="best")
                                    span.survey__checkbox
                                    span.survey__choose Праздник в кругу родных
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Самый популярный новогодний фильм?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="movie")
                                    span.survey__checkbox
                                    span.survey__choose «Новогодняя» – Дискотека Авария
                                label.survey__label
                                    input(type="radio" name="movie")
                                    span.survey__checkbox
                                    span.survey__choose «Happy New Year» – ABBA
                                label.survey__label
                                    input(type="radio" name="movie")
                                    span.survey__checkbox
                                    span.survey__choose «Let It Snow» – Dean Martin
                                label.survey__label
                                    input(type="radio" name="movie")
                                    span.survey__checkbox
                                    span.survey__choose «Новогодние игрушки» – Аркадий Хоралов
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Самый известный новогодний персонаж?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="hero")
                                    span.survey__checkbox
                                    span.survey__choose Снеговик
                                label.survey__label
                                    input(type="radio" name="hero")
                                    span.survey__checkbox
                                    span.survey__choose Дед Мороз
                                label.survey__label
                                    input(type="radio" name="hero")
                                    span.survey__checkbox
                                    span.survey__choose Снегурочка
                                label.survey__label
                                    input(type="radio" name="hero")
                                    span.survey__checkbox
                                    span.survey__choose Гринч
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Лучшее зимнее развлечение?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="game")
                                    span.survey__checkbox
                                    span.survey__choose Кататься с горки
                                label.survey__label
                                    input(type="radio" name="game")
                                    span.survey__checkbox
                                    span.survey__choose Лепка снеговика
                                label.survey__label
                                    input(type="radio" name="game")
                                    span.survey__checkbox
                                    span.survey__choose Просмотр новогодних фильмов
                                label.survey__label
                                    input(type="radio" name="game")
                                    span.survey__checkbox
                                    span.survey__choose Игра в снежки
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Самый классный Новый год - это когда встречаешь его с ...
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="meet")
                                    span.survey__checkbox
                                    span.survey__choose С семьей
                                label.survey__label
                                    input(type="radio" name="meet")
                                    span.survey__checkbox
                                    span.survey__choose С друзьями
                                label.survey__label
                                    input(type="radio" name="meet")
                                    span.survey__checkbox
                                    span.survey__choose С любимым человеком 
                                label.survey__label
                                    input(type="radio" name="meet")
                                    span.survey__checkbox
                                    span.survey__choose С хорошим настроением 
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Самое красивое новогоднее украшение?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="decoration")
                                    span.survey__checkbox
                                    span.survey__choose Дождик
                                label.survey__label
                                    input(type="radio" name="decoration")
                                    span.survey__checkbox
                                    span.survey__choose Гирлянда
                                label.survey__label
                                    input(type="radio" name="decoration")
                                    span.survey__checkbox
                                    span.survey__choose Я сам
                                label.survey__label
                                    input(type="radio" name="decoration")
                                    span.survey__checkbox
                                    span.survey__choose Советские ёлочные игрушки
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Где спрятать подарки от «домашних» до Нового года?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="hide")
                                    span.survey__checkbox
                                    span.survey__choose В шкафу
                                label.survey__label
                                    input(type="radio" name="hide")
                                    span.survey__checkbox
                                    span.survey__choose У друзей
                                label.survey__label
                                    input(type="radio" name="hide")
                                    span.survey__checkbox
                                    span.survey__choose На работе
                                label.survey__label
                                    input(type="radio" name="hide")
                                    span.survey__checkbox
                                    span.survey__choose У соседей
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Самый плохой подарок от Тайного Санты?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="bad")
                                    span.survey__checkbox
                                    span.survey__choose Его отсутствие
                                label.survey__label
                                    input(type="radio" name="bad")
                                    span.survey__checkbox
                                    span.survey__choose Носки
                                label.survey__label
                                    input(type="radio" name="bad")
                                    span.survey__checkbox
                                    span.survey__choose Все подарки хороши 
                                label.survey__label
                                    input(type="radio" name="bad")
                                    span.survey__checkbox
                                    span.survey__choose Конфеты
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Любимый зимний элемент одежды?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="clothes")
                                    span.survey__checkbox
                                    span.survey__choose Варежки
                                label.survey__label
                                    input(type="radio" name="clothes")
                                    span.survey__checkbox
                                    span.survey__choose Шуба
                                label.survey__label
                                    input(type="radio" name="clothes")
                                    span.survey__checkbox
                                    span.survey__choose Шарф
                                label.survey__label
                                    input(type="radio" name="clothes")
                                    span.survey__checkbox
                                    span.survey__choose Свитер
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                    li.survey__item.container
                        .star.survey__star-1
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-2
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-3
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-4
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .star.survey__star-5
                            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
                        .survey__img
                            picture
                                source(srcset="images/survey/survey-mob.webp" media="(max-width: 767px)" type="image/webp")
                                source(srcset="images/survey/survey-mob.png" media="(max-width: 767px)" type="image/png")
                                source(srcset="images/survey/survey-tab.webp" media="(max-width: 900px)" type="image/webp")
                                source(srcset="images/survey/survey-tab.png" media="(max-width: 900px)" type="image/png")
                                source(srcset="images/survey/survey.webp" type="image/webp")
                                img(src="images/survey/survey.png" alt="картинка" width="264" height="480")
                        .survey__info
                            h3.survey__question Где лучше всего проводить зиму?
                            .survey__inputs
                                label.survey__label
                                    input(type="radio" name="winter")
                                    span.survey__checkbox
                                    span.survey__choose Дома
                                label.survey__label
                                    input(type="radio" name="winter")
                                    span.survey__checkbox
                                    span.survey__choose В горах
                                label.survey__label
                                    input(type="radio" name="winter")
                                    span.survey__checkbox
                                    span.survey__choose За городом 
                                label.survey__label
                                    input(type="radio" name="winter")
                                    span.survey__checkbox
                                    span.survey__choose На курорте 
                            .survey__variant
                                p.survey__variant-title Свой вариант
                                .survey__variant-field
                                    textarea(name="surveyText", cols="30", rows="10" placeholder="Свой вариант")
                            button.survey__send.btn Отправить
                                    

    .gifts
        .star.gifts__star-1
            img.star__gold(src="images/stars/star-gold.svg", alt="звездочка" width="128" height="147")
            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="128" height="147")
        .star.gifts__star-2
            img.star__gold(src="images/stars/star-gold.svg", alt="звездочка" width="42" height="48")
            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="42" height="48")
        .gifts__img
            picture
                source(srcset="images/gifts/gifts-mob.webp" media="(max-width: 460px)" type="image/webp")
                source(srcset="images/gifts/gifts-mob.png" media="(max-width: 460px)" type="image/png")
                source(srcset="images/gifts/gifts-1280.webp" media="(max-width: 1279px)" type="image/webp")
                source(srcset="images/gifts/gifts-1280.png" media="(max-width: 1279px)" type="image/png")
                source(srcset="images/gifts/gifts.webp" type="image/webp")
                img(src="images/gifts/gifts.png" alt="подарки" width="1920" height="330")

    .send(style="display: none;")
        .send__modal
            .send__inner
                a.send__close(href="#")
                    span
                    span
                .send__header
                    h2.send__title Заполните форму и пришлите свою работу через: Telegram, email.
                    ul.send__soc
                        li.send__soc-item
                            a.send__soc-link(href="#")
                                img(src="images/icons/tg.svg", alt="телеграм" width="60" height="60")
                        li.send__soc-item
                            a.send__soc-link(href="#")
                                img(src="images/icons/gmail.svg", alt="гмэйл" width="60" height="60")
                form.send__form(action="#")
                    .send__content
                        .send__info
                            .send__inputs
                                label.send__label
                                    input.send__field(type="text" placeholder="Имя")
                                label.send__label
                                    input.send__field(type="text" placeholder="Фамилия")
                                label.send__label
                                    input.send__field(type="text" placeholder="Город")
                            textarea.send__textarea.send__textarea-desk(name="textarea", cols="30", rows="10" placeholder="Описание фотографии, рецепта..")
                        .send__manage
                            .send__choose
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Сервировка новогоднего стола в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose" checked)
                                    span.send__choose-radio
                                    span.send__choose-text Новогодний десерт в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Упаковка новогоднего подарка в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Украшение новогодней елки в стиле Хюгге
                            .send__download
                                label.send__download-label
                                    input(type="file")
                                    span.send__download-text Загрузить фото
                                p.send__download-warning.
                                    не более #[br] 50 MB
                            textarea.send__textarea.send__textarea-mob(name="textarea", cols="30", rows="10" placeholder="Описание фотографии, рецепта..")
                    button.send__btn Отправить

    .notice(style="display: none;")
        .notice__inner
            a.close.notice__close(href="#")
                span
                span
            p.notice__text.
                Время и так быстро летит, не стоит торопиться. Совсем скоро это окошко откроется!
            span.notice__no.notice__no-1 Ho
            span.notice__no.notice__no-2 Ho
            span.notice__no.notice__no-3 Ho
            img.notice__santa(src="images/notice/santa.svg", alt="санта" width="386" height="398")
            img.notice__branch-1(src="images/notice/branch-1.svg", alt="ветка" width="316" height="307")
            img.notice__branch-2(src="images/notice/branch-2.svg", alt="ветка" width="244" height="250")
            img.notice__branch-3(src="images/notice/branch-3.svg", alt="ветка" width="170" height="170")
