extends base/_layout
block head
    title Трансляция
block page
    header.header.header--stream
        .star.header__star.header__star-1
            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
        .header__inner.container
            a.header__burger(href="#")
                span
                span
                span
            .header__menu
                a.header__mts(href="#")
                    img(src="images/icons/mts.svg", alt="мтс" width="206" height="51")
                nav.header__nav
                    ul.header__list
                        li
                            a.header__link(href="#") Адвент-календарь
                        li
                            a.header__link.header__link--active(href="#") Галерея работ
                        li
                            a.header__link(href="#") ПРО100 к 1
                        li
                            a.header__link(href="#") Подборка настроения
                        li
                            a.header__link(href="#") Трансляция 

    main.main.main--visible
        section.stream
            .star.stream__star-1
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-2
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-3
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-4
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-5
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-6
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-7
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-8
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .stream__inner.container
                .stream__header
                    h1.stream__title.title Трансляция
                    p.stream__text.
                        Пока за окном холодный декабрь, в нашей студии горят свечи и глаза, и согревают всех гостей искрометным юмором. Сегодня здесь начнется праздничная трансляция «МТС Хюгге или  Искусство быть счастливым». В этот день мы подведем итоги года, наградим ПРОСТО ЛУЧШИХ сотрудников. Конечно же, не обойдемся без хитовых новогодних песен в живом звучании от кавера Yogurt Band. Мы подготовили для вас ценные призы – их можно будет забрать себе, если активно участвовать в конкурсах от ведущих. Не забудьте заварить себе горячий чай.  #[br]
                        До скорых встреч!
                .stream__video
                    .stream__video-img
                        picture
                            source(srcset="images/stream/stream-mob.webp" media="(max-width: 460px)" type="image/webp")
                            source(srcset="images/stream/stream-mob.png" media="(max-width: 460px)" type="image/png")
                            source(srcset="images/stream/stream.webp" type="image/webp")
                            img(src="images/stream/stream.png" alt="подарки" width="1280" height="783")
                    .stream__video-content


    .send(style="display: none;")
        .send__modal
            .send__inner
                a.send__close(href="#")
                    span
                    span
                .send__header
                    h2.send__title Заполните форму и пришлите свою работу через: Telegram, email.
                    ul.send__soc
                        li.send__soc-item
                            a.send__soc-link(href="#")
                                img(src="images/icons/tg.svg", alt="телеграм" width="60" height="60")
                        li.send__soc-item
                            a.send__soc-link(href="#")
                                img(src="images/icons/gmail.svg", alt="гмэйл" width="60" height="60")
                form.send__form(action="#")
                    .send__content
                        .send__info
                            .send__inputs
                                label.send__label
                                    input.send__field(type="text" placeholder="Имя")
                                label.send__label
                                    input.send__field(type="text" placeholder="Фамилия")
                                label.send__label
                                    input.send__field(type="text" placeholder="Город")
                            textarea.send__textarea.send__textarea-desk(name="textarea", cols="30", rows="10" placeholder="Описание фотографии, рецепта..")
                        .send__manage
                            .send__choose
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Сервировка новогоднего стола в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose" checked)
                                    span.send__choose-radio
                                    span.send__choose-text Новогодний десерт в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Упаковка новогоднего подарка в стиле Хюгге
                                label.send__choose-label
                                    input(type="radio" name="choose")
                                    span.send__choose-radio
                                    span.send__choose-text Украшение новогодней елки в стиле Хюгге
                            .send__download
                                label.send__download-label
                                    input(type="file")
                                    span.send__download-text Загрузить фото
                                p.send__download-warning.
                                    не более #[br] 50 MB
                            textarea.send__textarea.send__textarea-mob(name="textarea", cols="30", rows="10" placeholder="Описание фотографии, рецепта..")
                    button.send__btn Отправить

    .notice(style="display: none;")
        .notice__inner
            a.close.notice__close(href="#")
                span
                span
            p.notice__text.
                Время и так быстро летит, не стоит торопиться. Совсем скоро это окошко откроется!
            span.notice__no.notice__no-1 Ho
            span.notice__no.notice__no-2 Ho
            span.notice__no.notice__no-3 Ho
            img.notice__santa(src="images/notice/santa.svg", alt="санта" width="386" height="398")
            img.notice__branch-1(src="images/notice/branch-1.svg", alt="ветка" width="316" height="307")
            img.notice__branch-2(src="images/notice/branch-2.svg", alt="ветка" width="244" height="250")
            img.notice__branch-3(src="images/notice/branch-3.svg", alt="ветка" width="170" height="170")
