extends base/_layout
block head
    title Трансляция
block page
    header.header.header--stream
        .star.header__star.header__star-1
            img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
        .header__inner.container
            a.header__burger(href="#")
                span
                span
                span
            .header__menu
                a.header__mts(href="#")
                    img(src="images/icons/mts.svg", alt="мтс" width="206" height="51")
                nav.header__nav
                    ul.header__list
                        li
                            a.header__link(href="index.html") Адвент-календарь
                        li
                            a.header__link(href="gallery.html") Галерея работ
                        li
                            a.header__link(href="#") ПРО100 к 1
                        li
                            a.header__link(href="#") Подборка настроения
                        li
                            a.header__link.header__link--active(href="#") Трансляция 

    main.main.main--visible
        section.stream
            .star.stream__star-1
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-2
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-3
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-4
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-5
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-6
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-7
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .star.stream__star-8
                img.star__blue(src="images/stars/star-blue.svg", alt="звездочка" width="61" height="70")
            .stream__inner.container
                .stream__header
                    h1.stream__title.title Трансляция
                    p.stream__text.
                        Пока за окном холодный декабрь, в нашей студии горят свечи и глаза, и согревают всех гостей искрометным юмором. Сегодня здесь начнется праздничная трансляция «МТС Хюгге или  Искусство быть счастливым». В этот день мы подведем итоги года, наградим ПРОСТО ЛУЧШИХ сотрудников. Конечно же, не обойдемся без хитовых новогодних песен в живом звучании от кавера Yogurt Band. Мы подготовили для вас ценные призы – их можно будет забрать себе, если активно участвовать в конкурсах от ведущих. Не забудьте заварить себе горячий чай.  #[br]
                        До скорых встреч!
                .stream__video
                    .stream__video-img
                        picture
                            source(srcset="images/stream/stream-mob.webp" media="(max-width: 460px)" type="image/webp")
                            source(srcset="images/stream/stream-mob.png" media="(max-width: 460px)" type="image/png")
                            source(srcset="images/stream/stream.webp" type="image/webp")
                            img(src="images/stream/stream.png" alt="подарки" width="1280" height="783")
                    .stream__video-content
