.clock
   margin-bottom: 186px
   &__top
      margin-bottom: 40px
      display: flex
      justify-content: space-between
      align-items: flex-end
      position: relative
   &__star
      &-big
         top: 8%
         left: 48%
      &-small
         right: 30%
         top: 30%
      &-down
         bottom: -60px
         right: -5%
   &__time
      min-width: 590px
      width: 590px
      height: 590px
      position: relative
   &__days
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      font-weight: normal
      font-size: 116px
      line-height: 100%
      text-align: center
      color: var(--titleColor)
      white-space: nowrap
      font-family: var(--journalism)
   &__info
      width: 100%
      max-width: 530px
      margin-bottom: 40px
   &__title
      margin-bottom: 25px
   &__text
      line-height: 180%
   &__wrapper
      flex-wrap: wrap
      grid-gap: 17px 20px
   &__list
      position: relative
      .swiper-button-next
         display: none
   &__item
      width: 305px
      min-width: 305px
      padding: 17px
      font-family: var(--journalism)
      text-transform: uppercase
      font-weight: normal
      font-size: 96px
      line-height: 100%
      color: var(--accent)
      cursor: pointer
      position: relative
      &--active
         color: var(--titleColor)
         .clock__item-img
            animation-name: itemRotate
            animation-duration: 30s
            animation-iteration-count: infinite
            animation-timing-function: linear
      &-img
         display: block
         width: 100%
         height: 100%
         position: relative
         z-index: 5
      &-dots
         width: 83%
         position: absolute
         left: 50%
         transform: translate(-50%)
         top: 6%
      &-day
         position: absolute
         z-index: 10
         left: 50%
         top: 50%
         transform: translate(-50%, -50%)
         white-space: nowrap

@media screen and (max-width: 1365px)
   .clock
      &__top
         flex-direction: column
         align-items: center
      &__star
         &-small
            right: 0
         &-big
            left: 0
         &-down
            right: 10%
      &__time
         margin-bottom: 50px
      &__item
         width: calc(33.33% - 14px)

@media screen and (max-width: 1019px)
   .clock
      margin-bottom: 60px
      &__top
         padding: 0 16px
      &__inner
         padding: 0
      &__list
         width: calc(100% - 45px)
         margin-left: auto
         &-inner
            overflow: hidden
         .swiper-button-next
            width: 40px
            height: 40px
            display: flex
            justify-content: center
            right: auto
            left: -40px
            &::after
               content: 'prev'
               color: var(--textColor)
            &:hover,
            &:focus
               &::after
                  color: var(--titleColor)
      &__wrapper
         flex-wrap: nowrap
         grid-gap: 0
      &__time
         width: 100%
         max-width: 500px
         min-width: auto
         height: auto
      &__days
         font-size: 80px
      &__star
         &-big
            width: 80px
            top: 0
      
@media screen and (max-width: 767px)
   .clock
      &__star
         &-big
            width: 50px
            top: 0
            left: 3%
         &-small
            top: 50%
      &__days
         font-size: 60px
      &__item
         width: 250px
         min-width: 250px
         padding: 13px
         font-size: 80px
         &-day
            top: 52%
      &__title
         margin-bottom: 14px

@media screen and (max-width: 460px)
   .clock
      &__item
         width: 198px
         min-width: 198px
         font-size: 72px
      &__star
         &-down
            width: 50px
            bottom: -40px