.gifts
   position: relative
   &__star
      &-1
         width: 128px
         top: -12%
         left: 38%
      &-2
         top: -3%
         right: 21%
   &__img
      img
         width: 100%

@media screen and (max-width: 1279px)
   .gifts
      &__star
         &-1
            width: 90px

@media screen and (max-width: 767px)
   .gifts
      &__star
         &-1
            width: 54px

@media screen and (max-width: 460px)
   .gifts
      &__star
         &-1
            display: none
         &-2
            top: -15%