.header
    padding-top: 30px
    padding-bottom: 30px
    position: relative
    &__left
        position: absolute
        top: 0
        left: 0
    &__right
        position: absolute
        top: 0
        right: 0
    &__inner
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        z-index: 10
    &__star
        &-1
            top: 35%
            left: 22%
        &-2
            top: 17%
            right: 20%
    &__burger
        display: none
        width: 40px
        height: 40px
        position: relative
        &-icon
            &--hover
                position: absolute
                left: 0
                top: 0
    &__nav
        margin-bottom: 80px
    &__list
        display: flex
        justify-content: center
        grid-gap: 30px
        font-weight: bold
        font-size: 18px
        line-height: 21px
        color: var(--textColor)
    &__link
        &--active
            color: var(--titleColor)
    &__mts
        margin-bottom: 50px
        display: inline-block
    &__logo
        margin-bottom: 25px
        margin-left: 42px
    &__text
        width: 100%
        max-width: 700px
        font-weight: 500
        font-size: 18px
        line-height: 179.69%
        text-align: center
    &--mts
        margin-bottom: 100px
        .header
            &__star
                &-1
                    left: auto
                    top: 100px
                    right: 25%
    &__toy
        position: absolute
        right: 0
        top: 0
    &__menu
        display: flex
        align-items: center
        align-self: flex-start
        .header
            &__mts
                width: 143px
                margin-bottom: 0
                margin-right: 83px
            &__nav
                margin-bottom: 0

@media screen and (max-width: 1800px)
    .header
        &__left
            width: 500px
        &__right
            width: 500px
        &__toy
            width: 400px

@media screen and (max-width: 1600px)
    .header
        &__left
            width: 400px
        &__right
            width: 400px
        &__toy
            width: 300px


@media screen and (max-width: 1279px)
    .header
        &__left
            width: 250px
        &__right
            width: 250px
        &__mts
            max-width: 150px
            margin-bottom: 30px
        &__logo
            margin-left: 0
            max-width: 300px

@media screen and (max-width: 1100px)
    .header
        &__left
            width: 150px
        &__right
            width: 150px
        &__toy
            display: none
        &__menu
            .header
                &__mts
                    margin-right: 50px

@media screen and (max-width: 900px)
    .header
        &__burger
            display: block
            padding: 10px 6px
            margin: 0 120px 73px auto
            z-index: 100
            transform: rotate(0deg)
            transition: .5s ease-in-out
            position: relative
            span
                height: 4px
                background: var(--textColor)
                border-radius: 10px
                position: absolute
                left: 6px
                right: 6px
                transition: .25s ease-in-out
                &:nth-child(1)
                    top: 10px
                &:nth-child(2)
                    top: 50%
                    transform: translateY(-50%)
                &:nth-child(3)
                    bottom: 10px
            &:hover,
            &:focus,
            &:active
                span
                    background: var(--titleColor)
            &.header__burger--open
                span
                    &:nth-child(1)
                        top: 22px
                        transform: rotate(135deg)
                    &:nth-child(2)
                        opacity: 0
                        left: -60px
                    &:nth-child(3)
                        top: 22px
                        transform: rotate(-135deg)
        &__nav
            margin-bottom: 0
            position: fixed
            left: 0
            right: 0
            top: 0
            bottom: 0
            z-index: 90
            background: #fffdf7
            display: none
            &--active
                display: block
        &__list
            padding: 16px
            padding-top: 80px
            flex-direction: column
            grid-gap: 20px
        &--mts
            margin-bottom: 50px
            .header
                &__burger
                    margin: 0
                    margin-left: auto
        &__menu
            .header
                &__mts
                    position: absolute
                    top: 0
                    left: 16px

@media screen and (max-width: 767px)
    .header
        padding: 10px 0 80px
        &--mts
            padding-bottom: 0
        &__mts
            width: 118px
        &__logo
            max-width: 248px
            margin-bottom: 36px
        &__star
            width: 42px
        &__text
            font-size: 16px
            line-height: 150%

@media screen and (max-width: 500px)
    .header
        &__left
            width: 235px
        &__right
            width: 86px
            top: 60px
        &__burger
            margin-right: 0

@media screen and (max-width: 460px)
    .header
        &__star
            &-1
                display: none
            &-2
                top: 11%